/* Add your styles here */

/* Add your styles here */
body {
  font-family: 'Proxima Nova', Arial, sans-serif; /* Match nau.edu font */
  margin: 0; /* Remove default margin */
}

.top-image {
  width: 100%;
  height: 250px;
  display: block;
  opacity: 1;
}

.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 5;
  background-image: url('background.jpg'); /* Background image for the entire page */
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1; /* Send it to the back */
}

.container {
  max-width: 800px; /* Adjust container width */
  margin: 0  ;/* Center container and adjust bottom margin */
  padding: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Shadow effect */
  border-radius: 10px; /* Rounded corners */
  background-color: rgba(255, 255, 255, 0.9); /* Background color for form container */
}

.container img {
  display: block;
  margin: 0 auto; /* Center the image horizontally */
  opacity: 0.8; /* Adjust the opacity of the image */
}


/* Add other styles for your form elements here */


body {
  font-family: 'Proxima Nova', Arial, sans-serif; /* Match nau.edu font */
  background-color: #fff; /* White background */
  color: #003366; /* Match nau.edu text color */
  margin: 0; /* Remove default margin */
}

.container {
  max-width: 800px; /* Adjust container width */
  margin: auto; /* Center container */
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Shadow effect */
  border-radius: 10px; /* Rounded corners */
}

.adding-devices,
.aircheck-metrics,
.dell-latitude-metrics {
  margin-bottom: 40px;
  padding: 20px; /* Adding padding to the section */
  border-radius: 10px; /* Adding border-radius for rounded corners */
}

.adding-devices {
  background-color: #e8f3fa; /* Light gray background for first section */
}

.aircheck-metrics {
  background-color: #fcf9eb; /* Off-white background for second section */
}

.dell-latitude-metrics {
  background-color: #e8f3fa; /* Light gray background for third section */
}

h2, h3 {
  color: #003366; /* Match nau.edu heading color */
}

label {
  display: block;
  margin-bottom: 10px;
  color: #666; /* Light gray text for labels */
}

input[type="text"] {
  width: calc(100% - 10px);
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 5px; /* Rounded corners */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}

button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #fdb913; /* NAU Gold (Yellow) */
  border: none;
  border-radius: 5px;
  color: #003366; /* Match nau.edu text color */
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px; /* Add some bottom margin to separate buttons */
  
}
button:hover {
  background-color: #337ab7; /* Darker shade of NAU Gold on hover */
}

button.copy-metrics {
  background-color: #337ab7; /* Change to your desired color */
}

#Div {
  margin-top: 10px; /* Add margin to separate the disconnect time question */
}




button:disabled {
  background-color: #ccc; /* Gray background when button is disabled */
  cursor: not-allowed;
}

.stay-connected-options input[type="radio"] {
  display: none; /* Hide radio buttons */
}

.stay-connected-options label {
  display: inline-block;
  padding: 8px 20px;
  margin-right: 10px;
  background-color: #003366; /* Match nau.edu background color */
  color: #fff; /* White text */
  border-radius: 5px;
  cursor: pointer;
}

.stay-connected-options label:hover {
  background-color: #002e5b; /* Darker shade of blue on hover */
}

.stay-connected-options input[type="radio"]:checked + label {
  background-color: #0099d8; /* Light blue background for selected option */
}

.aircheck-metrics .aircheck-subsection:nth-child(even) {
  background-color: #f5f5f5; /* Alternate background color for even numbered sub-sections */
}

.aircheck-metrics .aircheck-subsection:nth-child(odd) {
  background-color: #e5e5e5; /* Alternate background color for odd numbered sub-sections */
}

/* CSS for the button container */
.button-container {
  display: flex;
  justify-content: center;
  margin-bottom: px; /* Add some bottom margin */
}

/* CSS for the button */
.blue-button {
  background-color: #337ab7;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 20px 30px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.blue-button:hover {
  background-color: #0056b3; /* Darker shade of blue on hover */
}



.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #003366; /* Match nau.edu background color */
  color: #fff; /* White text color */
  text-align: center; /* Center-align the text */
  padding: 20px; /* Padding to provide space around the content */
  z-index: 999; /* Ensure footer appears above other content */
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-size: 16px;
}

.footer-text span {
  font-weight: bold;
}

.footer-text::before,
.footer-text::after {
  content: '';
  flex: 1;
  border-top: 1px solid #fff;
  margin: 0 20px;
}
